.light-grey{
    color:#000!important;
    background-color:#f1f1f1!important
}
.text-red{
    color:#A52A2A!important
}
.teal{
    color:#fff!important;
    background-color:#A52A2A!important
}
.button-red{
    color:#fff!important;
    background-color:#A52A2A!important
}
